<div class="header">
    <a class="header-link" href="/">
        <img class="logo" src="./images/logo.png">
    </a>
    <div class="title">
        名古屋工業大学　大囿研究室
        <br>
        Ozono Laboratory, Nagoya Institute of Technology
    </div>
</div>
<div class="orange-bottom">
    <img src="./images/head.png" width="100%">
</div>
<div class="menu">
    <ul id="menu-default" class="menu-ul">
        <li>
            <a href="">ホーム</a>
        </li>
        <li>
            <a href="">メンバー</a>
        </li>
        <li>
            <a href="">研究テーマ</a>
        </li>
        <li>
            <a href="">研究成果</a>
        </li>
        <li>
            <a href="">留学案内</a>
        </li>
        <li>
            <div>
                言語切り替え
            </div>
        </li>
    </ul>
</div>